body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #800000; /* Maroon color */
    margin: 0;
    padding: 20px;
    transition: background-color 0.5s ease;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #fff;
    background-color: #800000; /* Maroon color */
    padding: 10px;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #800000; /* Maroon color */
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
}

button:hover {
    background-color: #007BFF;
    color: white;
}

.main-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#message {
    margin-top: 20px;
    font-size: 18px;
    color: #800000; /* Maroon color */
    transition: color 0.3s, opacity 0.3s;
    opacity: 0;
}

.show {
    opacity: 1;
}

.animate-fetch {
    color: #28a745;
}

.animate-color {
    background-color: #FFD700 !important; /* Gold color for contrast */
}
